* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
  }
  .login-form {
    width: 600px;
    height: 650px;
    background: rgb(16, 11, 66);
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .login-form > input {
    font-size: 30px;
    color: black;
  }
  